
*{margin: 0; padding: 0; box-sizing: border-box;}
body{
  background-color:#484444;
}
table,tr,th,td{
  border: 2px solid rgb(202, 182, 182);
  height: 100px;
  width: 900px;
}
main{
  width: 73%; margin: 50px auto;
  border: 3px solid rgb(224, 232, 238);
  display: grid;
  grid-gap: 20px;;

   /* grid-template-rows: 400px 400px;  */
  /* grid-template-columns: repeat(2,1fr) 150px;  */


}
section{
  width: 100%; background-color: rgb(37, 37, 41);

}
/* section div{
  width: 30%;
  padding: 20px;
  border: 1px solid black;
} */
/* #div1{
border: 2px solid black;
background-color: aqua;
width: 300px; height: 250px;
 } */
.div2{border: 2px solid;}
.div3{border: 2px solid; width: 260px; height: 350px;}
.div4{ border: 2px solid;
  grid-column: 1/-1;
}
p{
  grid-gap: 10px;
  font-size: large;
  margin: 20px;
  color: green;
}

.pie-chart{
  background: radial-gradient(circle closest-side,transparent 100%,rgb(207, 203, 203) 0),
  conic-gradient(
    from 180deg,
    #ee5253 0,#ee5253 15%,
    #1160aa 0, #1160aa 25%,
    #e2e211 0,#b0e063 45%,
    #858574 0, #858574  55%,
    #ee5253 0,    #ee5253 100%
  );
  min-width: 250px;
  min-height: 200px;
}
@media(min-width:768px){
  section{
      display: flex;
      justify-content: space-between;
  }
}

.section1{
  float: left;
  width: 100%;
  background-color: cadetblue;
  text-align: center;
  padding: 50px 10px;
}
.section1 .content{
  float: left;
  width: 100%;
  margin-top: 60px;
}
 .section1 .content .left{
   width: 50%;
   float: left;
   padding: 0px 10px;
 }
 .section1 .content .left .card{
  padding: 100px 15px;
  background-color: rgb(44, 49, 49);
  font-size: 30px;
   color: white;
  
}
 .section1 .content .right{
   width: 50%;
   float: left;
   padding: 0px 10px;
 }
 .section1 .content .right .card{
  padding: 36px 15px;
  background-color: rgb(40, 44, 44);
  font-size: 30px;
  color: white;
 margin-bottom: 20px;
}